<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-mail</title>
</head>
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    img{
        height: 50%;
        width: auto;
    }
    body{
        overflow-x: hidden;
        color: #fff;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        background-color: rgb(36, 36, 36);
    }
    .container{
        display: flex;
    }
    aside{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgb(36, 36, 36);
        width: 100%;
        padding: 0 20px;
        
    }
    aside span{
        color: chartreuse;
    }
    aside h2{
        margin: 25px;
        font-size: 30px;
    }
    aside p{
        margin: 2px 0;
        text-align: center;
    }
    a{
        background-color: chartreuse;
        display: flex;
        align-items: center;
        border: 2px solid chartreuse;
        margin: 30px 0;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 15px;
        text-decoration: none;
        color: black;
        transition: .5s;
    }
    a:hover{
        background-color: transparent;
        color: chartreuse;
        font-weight: 600;
    }
</style>
<body>
    <section class="container" style="display: block;color:#fff;background-color: rgb(36, 36, 36);padding:20px 0;">
        <aside style="display:block;            
            width: 100%;">
            <div style="margin:0 60px;text-align:center;color:#fff;">
            <img style="width: 35vw;border-radius:100%;border:solid 3px chartreuse;" src="https://scontent-gig2-1.xx.fbcdn.net/v/t1.6435-9/161319635_3707081846070932_5542478110893606984_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeFJibg0OMk39RoOPXPq0Q3iHhzcS6LnX60eHNxLoudfrVaNjrHxM0GTh6iWG_678nXeNAEw-zDEjU7uXJaixHBN&_nc_ohc=39BuSZ51-UMAX_vDv3E&_nc_ht=scontent-gig2-1.xx&oh=00_AT92wX-_GHBb6nreQGlqeWncukM78YsmVgINmTAGDEkFWA&oe=61FAED8A" alt="eu">
            <p style="color: chartreuse;margin: 20px auto -10px auto;">Opa, falai aí</p>
            <h2 style="color: #fff;font-size:21px;">Pra você que recebeu esse email</h2>
            <p style="margin: 2px 0;text-align: center;color:#fff;">Passei aqui pra te lembrar o amigo top que você tem!</p>
            <p style="margin: 2px 0;text-align: center;color:#fff;">Acho que você deveria agradecer pela pessoa maravilhosa que tem como amigo, que quer tanto seu bem, que sempre que pode te ajuda, que é tão bonito e inteligente, repense bem sobre suas amizades, principalmente a minha, AGRADEÇA!</p>
            <a style="background-color: chartreuse;
            text-align:center;
            display: flex;
            align-items: center;
            border: 2px solid chartreuse;
            margin: 30px auto;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 15px;
            font-weight: 600;
            text-decoration: none;
            width: 80%;
            color: black;" href="https://api.whatsapp.com/send?phone=5521988672174&text=Obrigado%20por%20existir%20seu%20lindo!%20*%20-%20*" target="_blank">Agradecer &#9990;</a>
            </div>
        </aside>
    </section>
    
</body>
</html>